loguru~=0.7.2
more_itertools~=10.3.0
numpy~=2.1.0
pycairo~=1.26.1; sys_platform == "linux" or sys_platform == "darwin"
PyGObject~=3.48.2; sys_platform == "linux" or sys_platform == "darwin"
pywin32==306; sys_platform == "win32"
typing_extensions~=4.12.2
# win32gui; sys_platform == "win32"
